html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    height: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 950px;
	margin: 0 auto;
  }
}

.wrapper{
	padding-top: 60px;
}

#error{
    color:#cc0000;
}

#success{
    color: #0000FF;
}

/* Action Bar style */
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar .nav > li > a {
    color:  #fff;
}

.glyphicon.glyphicon-envelope{
    font-size: 35px;
	margin-top: 7px;
}

.badge{
	float: right;
}
/* End Action Bar style */

/* Form Style */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.radio-inline{
	margin-bottom: 20px;
}

.form-horizontal {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* End Form Style */

/* Profile Style */
.user-wrapper .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	margin: 5px;
}
    
.user-wrapper .description {
	padding: 25px;
	background-color: #fff;
}

#profile_page_details{
    list-style-type: none;
}

.details_value{
	float: right;
}
/* End Profile Style */

/* Home Page Preview Style */
.preview-wrapper{
	padding: 15px;
}

.preview-wrapper .preview-desc {
	padding: 25px;
    height: 150px;
    width: auto;
	background-color: #fff;
}

.preview-wrapper img{
	height: 300px;
	width:100%;
}
/* End Home Page Preview Style */

/* Upload Image Widget Style */
input[type="file"] {
    display: none;
}

.upload-thumbnail{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.upload-image-button:hover {
    border: 1px solid transparent;
    color: #000;
}

.delete-image-button:hover {
    border: 1px solid transparent;
    color: #000;
}

.upload-thumbnail-wrapper{
    position: relative;
}

.upload-thumbnail-wrapper span{
    position: absolute;
}

.upload-image-button {
    background: url(/Website/img/add.png) no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 100% 100%;
}

.delete-image-button {
    background: url(/Website/img/delete.png) no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 100% 100%;
}
/* End Upload Image Widget Style */

/* Settings Page Style */
.btn.btn-primary.change_button{
    margin-top: 10px;
    float: right;
}
.settings_input{
    max-height: 30px;
}
.gender_text{
    position: relative;
    bottom: 20px;
}

/* The switch - the box around the tog */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The tog */
.tog {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.tog:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .tog {
    background-color: #2196F3;
}

input:focus + .tog {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .tog:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded togs */
.tog.round {
    border-radius: 34px;
}

.tog.round:before {
    border-radius: 50%;
}

#ageSlider .slider-handle {
    background: #2196F3;
}

#ageSlider .slider-selection{
    background: #ccc;
}

#ageSlider .slider-track-low{
    background: #ccc;
}

#ageSlider .slider-track-high{
    background: #ccc;
}
/* EndSettings Page Style */
/* Search page Style */
.give-room{
    margin-right: 30px;
}
.popover {
    height: 40px;
}
.popover-title {
    color: red;
    font-size: 15px;
}

.swipe-button{
    position: fixed;
    bottom: 20px;
    right: 10px;
}

